*{
    box-sizing: border-box;
}
.g{
  background-image: url("1200px-BBC_News_(2008).svg");
}

body{
    margin: 0;
}
.header{
    padding: 60px;
    text-align: center;
    background: rgb(187, 148, 120);
    color: white;
}
.navbar{
    display:flex;
    background-color: rgb(50, 150, 255);
    font-size:20px;
}
.navbar a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  .side {
    flex: 30%;
    background-color: chocolate;
    padding: 20px;
  }
  .fimg {
    background-color: #a2e5d8;
    width: 100%;
    padding: 20px;
  }
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  .main h2{
    font-size: 200px; 
    margin: 20px;
  }
  .main h5{

    font-size: 50px; 
    margin: 20px;
  }
  